.Img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &.fade-in {
        animation: fade-in 0.5s ease-in;
    }

    &-wrapper {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    &-spinner {
        position: absolute;
        top: 25%;
        left: 25%;
        height: 50%;
        width: 50%;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
